@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  background: var(--mantine-color-red-0);
}

/**
 code highlighting css
**/
.keyword,
.field-modifier,
.open-argument,
.close-argument {
  color: var(--mantine-color-pink-6);
  font-weight: 700;
  font-style: normal;
}
.model-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.model-name-open {
  display: flex;
  gap: 1rem;
}
.arguments,
.square-bracket,
.argument-list-item {
  color: var(--mantine-color-blue-2);
  font-style: normal;
}

.argument-name-is-relational {
  font-style: italic;
  color: var(--mantine-color-orange-4);
  display: flex;
}
.argument-list-container {
  display: flex;
  margin-left: 0.5rem;
}
.model-name,
.field-type,
.argument-type {
  color: var(--mantine-color-blue-2);
  font-style: italic;
}

.relational-field-type {
  color: var(--mantine-color-indigo-4);
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
}
.argument-type-is-relational,
.Array {
  color: var(--mantine-color-grape-4);
  font-style: italic;
}

.open-curly,
.closed-curly,
.field-name {
  color: var(--mantine-color-white);
}
.fields-wrapper {
  display: flex;
  margin-left: 1rem;
  gap: 0.75rem;
}
.field-wrapper {
  display: flex;
  gap: 1.25rem;
}
.attributes {
  color: var(--mantine-color-yellow-3);
  display: flex;
}
.separator {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.fields-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 1rem;
  row-gap: 2px;
  column-gap: 2rem;
}
.field-type {
  display: flex;
  text-transform: capitalize;
}
.field-attributes-container {
  display: flex;
  gap: 0.75rem;
}

.arguments-container {
  display: flex;
  gap: 0.5rem;
}
.model-attributes {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
