:root {
    --bg-size: 400%;
}

.title {
    background: linear-gradient(90deg,
            var(--mantine-color-red-3),
            var(--mantine-color-grape-8),
            var(--mantine-color-red-3)) 0 0 / var(--bg-size) 100%;
    font-size: clamp(2rem, 25vmin, 6rem);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}